.aboutMe{
    padding: 30px 30px 10px;
    box-sizing: border-box;
}
blockquote{
    border-left: 4px solid #ddd;
    padding-left: 20px;
}
@media screen and (max-width: 800px) {
    .aboutMe{
        padding: 0px;
        margin: auto;
    }
}