.header{
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 1rem;
}
.header_title{
    font-size: x-large;
    margin: auto 0px;
}
.header_menu{
    width: 24px;
    height: 24px;
    margin: auto 0px;
}
.header_menu>*{
    width:24px;
    height: 24px;
}