.main{
    display: flex;
    position: relative;
    flex-direction: column;
    left:400px;
    height: fit-content;
    width: calc(100% - 400px);
  }

.main_header{
    height:80px;
    width:100%;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 5%);
    z-index: 2;
}
.main_body{
    display: flex;
    height: fit-content;
    flex-direction: row;
}

.main_body_contents{
    width: 70%;
    height: fit-content;
    min-height: 100%;
}
.main_body_contentsList{
    width: 60%;
    height: fit-content;
    min-height: 100%;
}
.main_body_index{
    position: fixed;
    height: 100%;
    right:0%;
    width:20%;
    border-left: 1px solid #ddd;
}
@media screen and (max-width: 800px) {
    .main{left:auto;
    width:100%;
    }
}