.nav{
    display: flex;
    position: fixed;
    flex-direction: column;
    height: 100%;
    width:400px;
  }
.nav_bgImage{
    position:absolute;
    z-index: -1;
    width:100%;
    height: 100%;
    object-fit:cover;
    filter: brightness(10%);
  }
.nav_profile{
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    height: 200px;
    margin: 30px 20px;
}

.nav_index{
    position: relative;
    display: flex;
    flex-direction: column;
    border-left: 1px solid #ddd;
    color:white;
    margin: 30px 20px;
    height: 60%;  
}
.nav_index > *{
    cursor: pointer;
    margin: 10px 0px;
    margin-left: 20px;
    text-decoration: none;
    color:white;
}
.nav_index>*:hover{
    text-decoration: underline;
}
.nav_footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 30px 20px;
}
.nav_footer>*{
    width:24px;
    height: 24px;
    cursor: pointer;
    color:white;
    opacity: 30%;
    margin: 0px 20px;
}
.nav_footer>*:hover{
    opacity: 100%;
}